<section class="browse-area">
    <div class="categories">
        <div class="browse-categories">
            <!-- title -->
            <div class="browse-title">Browsing</div>

            <!-- Categories go here -->
            <div class="category-list">
                <category-button>All</category-button>
                <category-button>Books</category-button>
                <category-button>Electronics</category-button>
                <category-button>Furniture</category-button>
                <category-button>Clothing</category-button>
                <category-button>Accessories</category-button>
            </div>

            <!-- Sort Options -->
            <div class="sort-option">
                <p>Sort by:</p>
                <category-button class="sort-button">Newest</category-button>
                <div class="content">
                    <label>
                        <input
                            type="radio"
                            name="order"
                            value="newest"
                            checked
                        > 
                        Newest
                    </label>
                    
                    <label>
                        <input
                            type="radio"
                            name="order"
                            value="oldest"
                        >
                        Oldest
                    </label>

                    <div class="price">
                        <p class="price-text">Price: </p>
                        <input 
                            type="range"
                            min= "0"
                            max= "2"
                        >
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="products-container">
        <!-- JS will load the products -->
    </div>
</section>