:host {
  --gap: 16px;
  --max-columns: 6;
  --max-container-width: 1800px;
}

.browse-area {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.categories {
    position: sticky;
    top: 70px;
    z-index: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #131612; /* Adding background color so content doesn't show through */
    width: 100%; /* 80 % */
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow when sticky */
    max-width: 1500px;
    margin: 0 auto;
}
.browse-area {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.browse-title {
    font-size: 2.5em;
    font-weight: bold;
    font-family: Arial;
    padding: 10px 20px;
    justify-self: flex-start;
    color: white;
}

.category-list {
    flex: 1;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 0 1rem;
}

.sort-option > p {
    font-family: Arial;
    font-weight: 600;
    color: rgb(233, 233, 233);

}

.sort-option {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  margin-right: 10px;
}

#dropdown {
  padding: 6px;
  background-color: #131612;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #777777;
  cursor: pointer;
}
#dropdown option {
  font-family: sans-serif;
  font-weight: bold;
}


<<<<<<< HEAD



=======
>>>>>>> e706276bec6ce4e97e188a6af9f119083375b939
.products-container {

  display: flex;

  flex-wrap: wrap;

  justify-content: flex-start;

  align-content: flex-start;

  height: auto;

  overflow: visible;

  gap: var(--gap);

  background: var(--background-color);

  max-width: var(--max-container-width) !important;

  min-width: min(var(--max-container-width), 100%);

  padding: var(--gap);

  box-sizing: border-box;

  scrollbar-width: none;               /* Firefox */

  

}

.products-container::-webkit-scrollbar { 
  display: none; 
}

/* host element for the card */
.card {
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  flex-grow: 0;
  flex-shrink: 0;
}

/* 2 columns */
@media (max-width: 950px) {
  .card { width: calc(50% - (var(--gap) / 2)); }
}
/* 3 columns */
@media (min-width: 951px) and (max-width: 1250px) {
  .card { width: calc(33.3333% - (var(--gap) * 2 / 3)); }
}
/* 4 columns */
@media (min-width: 1251px) and (max-width: 1550px) {
  .card { width: calc(25% - (var(--gap) * 3 / 4)); }
}
/* 5 columns */
@media (min-width: 1551px) and (max-width: 1950px) {
  .card { width: calc(20% - (var(--gap) * 4 / 5)); }
}
/* 6 columns (maximum) */
@media (min-width: 1951px) {
  .card { width: calc(16.6667% - (var(--gap) * 5 / 6)); }
  .products-container { max-width: var(--max-container-width); }
<<<<<<< HEAD
}
=======
}
>>>>>>> e706276bec6ce4e97e188a6af9f119083375b939
