.label {
    font-family: Arial;
    padding: 6px 0px;
    font-weight: bold;
    color: rgb(170, 170, 170);
    /* background-color: rgb(238, 239, 240); */
    background-color: #131612;
    /* border: 1px solid rgb(179, 179, 179); */
    border: 0px;
    font-size: 1.1em;
}

.label:hover {
    cursor: pointer;
    color: white;
}

.label.selected {
    color: white;
    transition: ease 250ms;
    border-bottom: 2px solid white;
}