<div class="hero-content">
    <div class="hero-text">
        <h1>DISCOVER<br>BUY OR <span class="sell-color">SELL.</span></h1>
        <a
            href="#marketplace"
            id="browse-link"
            class="btn"
        >START BROWSING</a>

        <p class="tagline">A TRUSTED DIGITAL MARKETPLACE FOR STUDENTS AND STAFF</p>
    </div>
    <div class="hero-image">
        <video
            autoplay
            muted
            loop
            playsinline
        >
            <source src="geiselnc.mp4" type="video/mp4">
        </video>
    </div>
</div>