.empty-state-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 50px 20px;
    font-family: Arial;
}

img {
    width: 150px;
    height: 150px;
}

.empty-state-text {
    font-size: 2em;
    color: #F3C114;
}


@media (max-width: 1000px) {
    button {
        font-size: 1.2em;
        padding: 10px;
    }

    .empty-state-text {
        font-size: 1.5em;
    }
    img {
        width: 100px;
        height: 100px;
    }
}