.empty-state-box {
    background-color: #04133B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 50px 20px;
    gap: 20px;
    font-family: Arial;
}

img {
    width: 150px;
    height: 150px;
}

.empty-state-text {
    font-size: 2em;
    color: #F3C114;
}

button {
    padding: 20px;
    background-color:#F3C114;
    color:#04133B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.3em;
    border: none;
}
button:hover {
    text-decoration: underline #04133B;
}
button:active {
    background-color: #faf0cc;
}

@media (max-width: 1000px) {
    button {
        font-size: 1.2em;
        padding: 10px;
    }

    .empty-state-text {
        font-size: 1.5em;
    }
    img {
        width: 100px;
        height: 100px;
    }
}